* {
  margin: 0;
}

#beach-bg {
  background-image: url(images/beach.jpg);
}

#castle-bg {
  background-image: url(images/castle.jpg);
}

#interior-bg {
  background-image: url(images/interior.jpg);
}

#mountain-bg {
  background-image: url(images/mountain.jpg);
}

#club-bg {
  background-image: url(images/club.jpg);
}

.fullscreen {
  height: 100vh;
}

.parallax {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax > h2 {
  background-color: rgba(194, 194, 194, 0.694);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.content {
  background-color: rgb(199, 239, 253);
  padding: 50px;
  text-align: center;
}
